<!--<section class="card">
  <h2 class="title" id="grado" translate>
    <span>master</span>
  </h2>

  <div class="table">
    <div class="column">
      <div class="title">master_universitario</div>
      <ul>
        <li *ngFor="let asignatura of masterUniversitario">
          <a href="{{asignatura.link}}" target="_blank">
            {{asignatura.nombre}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="card">
  <h2 class="title" id="grado" translate>
    <span translate>cursos_titulo_propio</span>
  </h2>

  <div class="table">
    <div class="column">
      <div class="title" translate>master_propio</div>
      <ul>
        <li *ngFor="let asignatura of masterUniversitario">
          <a href="{{asignatura.link}}" target="_blank">
            {{asignatura.nombre}}
          </a>
        </li>
      </ul>
    </div>

    <div class="column">
      <div class="title" translate>cursos_especialistas</div>
      <ul>
        <li *ngFor="let asignatura of masterUniversitario">
          <a href="{{asignatura.link}}" target="_blank">
            {{asignatura.nombre}}
          </a>
        </li>
      </ul>
    </div>

    <div class="column">
      <div class="title" translate>cursos</div>
      <ul>
        <li *ngFor="let asignatura of masterUniversitario">
          <a href="{{asignatura.link}}" target="_blank">
            {{asignatura.nombre}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>




<section class="card">
  <h2 class="title" id="grado" translate>
    <span translate>doctorado</span>
  </h2>

  <div class="table">
    <div class="column" *ngFor="let doctorado of doctorados">
      <div class="title" translate>{{doctorado.nombre}}</div>
      <ul>
        <li>
          <ul class="asignaturas-column__submenu">
            <li *ngFor="let link of doctorado.links; let j = index">
              <a href="{{link}}">{{doctorado.textolink[j]}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
-->

<section class="card">
  <h2 class="title" id="grado" translate>
    <span translate>posgrade.posgrade</span>
  </h2>

  <div class="table-header">
    <div class="table-header__option" *ngFor="let item of posgradeData" [ngClass]="{'selected': item.title == currentSelected}"
      (click)="currentSelected = item.title">
      <span translate>posgrade.{{item.title}}</span>
    </div>
  </div>

  <div class="table-content" *ngFor="let type of posgradeData">
    <div *ngIf="currentSelected === type.title">
      <div class="options" *ngFor="let studies of type.studies">
        <h6 translate>posgrade.{{studies.title}}</h6>
        <ul>
          <li *ngFor="let item of studies.options">
            <a *ngIf="item.link !== ''" href="{{item.link}}">
              <p (mouseleave)="leaveSubject($event)" (mouseenter)="overSubject($event)" translate>posgrade.{{item.title}}</p>
            </a>
            <div class="links" *ngIf="item.link === ''">
              <span translate>posgrade.{{item.title}}</span>
              <ul>
                <li *ngFor="let link of item.linkList">
                  <a href="{{link.url}}">
                    <p (mouseleave)="leaveSubject($event)" (mouseenter)="overSubject($event)" translate>{{link.text}}</p>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>


      </div>
    </div>
  </div>
</section>
