<main>
  <section style="padding: 50px;" id="direccion">
    <h2 class="title">
      <span translate>personal.direccion</span>
    </h2>
    <div class="container-teachers" style="padding: 10px;">
      <div class="profesor" *ngFor="let profesor of dir_sec">
        <div class="info-profesor">
          <h3 class="titulo-tipo-profesor" translate>{{profesor.cargo}}</h3>
          <div class="nombre">{{profesor.nombreCompleto}}</div>
        </div>
      </div>
    </div>
  </section>

  <section style="padding: 50px;" id="secretaria">

    <h2 class="title">
      <span translate>personal.secretaria</span>
    </h2>
    <div class="all-info" style="padding: 10px; margin-left:32px">
      <h3 class="titulo-tipo-profesor" translate>{{secretaria.cargo}}</h3>

      <div class="info-profesor">
        <div class="nombre">{{secretaria.nombre}}</div>
        <div class="contacto">
          <div class="correo">
            <a class="mailto-profesor" href="mailto:{{secretaria.correo}}">
              <input readonly="readonly" class="input-email" value="{{secretaria.correo}}">
            </a>
            <button class="material-icons clipboard" (click)="copy(secretaria.correo)">content_copy</button>
          </div>
          <div class="tel">{{secretaria.tel}}</div>
        </div>

      </div>
    </div>
  </section>

  <section style="padding: 50px;" id="profesorado">

    <h2 class="title">
      <span translate>personal.profesorado</span>
    </h2>
    <div class="wrapper" *ngFor="let teachers of fullList" style="padding: 10px;">
      <h3 class="titulo-tipo-profesor" translate>personal.{{teachers.title}}</h3>
      <div class="container-teachers">
        <div class="profesor" *ngFor="let teacher of teachers.teachers">
          <div class="display-info">
            <img class="img" src="https://drive.google.com/uc?id={{teacher.imagen}}" alt="">
            <div class="info-profesor">
              <div class="nombre" (click)="showCV($event)">{{teacher.apellidos}}, {{teacher.nombre}}</div>
              <div class="info-hidden cv-profesor"> {{teacher.curriculum}}</div>
              <div class="correo">
                <a class="mailto-profesor" href="mailto:{{teacher.correo}}">
                  <input readonly="readonly" class="input-email" value={{teacher.correo}}>
                </a>
                <button class="material-icons clipboard" (click)="copy(teacher.correo)">content_copy</button>
              </div>
              <div class="more-info">
                <div class="more-info-btns">
                  <a href="http://{{teacher.link}}">
                    <div class="enlace" translate>personal.enlace</div>
                  </a>
                  <div class="btn-docencia" (click)="showClasses($event)" translate>docencia.titulo</div>
                </div>
                <div class="hidden-info">
                  <ul class="classes-list">
                    <li *ngFor="let clase of teacher.docenteEn">{{clase}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="link-copied">
      Email copiado al portapapeles.
    </div>
  </section>

</main>
