.semester {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 26px auto auto;
  grid-template-areas: 't t t t' 'c1 c1 c4 c5' 's1 s2 s3 s4';
  /*t:title, c: course(1,4,5), s:subject(1,2,3,4)*/
}

@media screen and (max-width: 992px) {
  section.semester {
    display: flex;
    flex-direction: column;
  }
}

.semester h4 {
  grid-area: t;
  margin: 0;
  background: #d4d4d4;
  text-align: center;
  padding: 5px 0;
}

.course {
  font-size: 15px;
  text-align: center;
  margin: 15px 0;
}

.subjects {
  margin-left: 15px;
  text-align: center;
}

.course-1 {
  grid-area: c1;
  order: 1;
}

.course-4 {
  grid-area: c4;
  order: 4;
}

.course-5 {
  grid-area: c5;
  order: 6;
}

.basica-subjects {
  grid-area: s1;
  order: 2;
}

.diversifiable-subjects {
  grid-area: s2;
  order: 3;
}

.optional-subjects {
  grid-area: s3;
  order: 5;
}

.intensificacion-subjects {
  grid-area: s4;
  order: 7;
}

.loading {
  height: 10px;
  background: #c0c0c0;
  margin: 5px 0;
}

.loading:nth-child(odd) {
  width: 40%;
}

.loading:nth-child(even) {
  width: 65%;
}

/* alterntive */
.table-header {
  margin-top: 20px;
  width: 100%;
  font-size: 15px;
  display: flex;
  border-bottom: 2px solid var(--primary);
}

.table-header__option {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 2px 2px 0 0;
}

.table-header__option:hover:not(.selected) {
  color: var(--primary);
  font-weight: 700;
}

.table-header__option.selected {
  background: var(--primary);
  color: var(--white);
}

.table-content {
  display: flex;
  justify-content: space-between;
}

.table-content .table-content__type {
  margin-top: 10px;
  padding: 7px 20px;
  font-size: 15px;
}

.table-content .course {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
}

.table-content__subjects {
  margin-top: 10px;
}

.table-content__subject-info {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
}

.table-content__subject-info > i {
  font-size: 19px;
  color: #5c5f66;
  margin-top: 4px;
  opacity: 0;
  transition: 0.3s all cubic-bezier(0.165, 0.84, 0.44, 1);
}

.table-content__subject-info > i.rotate {
  transform: rotate(90deg);
}
.table-content__subject-info > i.rotate {
  opacity: 1 !important;
}

.table-content__subject-code {
  font-weight: 700;
  color: #3d679e;
  padding-left: 3px;
  padding-right: 4px;
  font-size: 13.5px;
}

.table-content__subject-name {
  color: black;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    var(--main-black) 0,
    var(--main-black) 100%
  );
  background-position: 0 1.2em;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
  padding-left: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.table-content__subject-name.open {
  background-size: 100% 100% !important;
}

.table-content__subjects-groups {
  font-size: 13px;
  max-height: 0;
  overflow-y: hidden;
  transition: 0.7s all cubic-bezier(0.165, 0.84, 0.44, 1);
}

.table-content__subjects-groups > div {
  display: flex;
  align-items: baseline;
  padding-top: 4px;
  padding-bottom: 4px;
  opacity: 0;
  transition: 0.7s all cubic-bezier(0.165, 0.84, 0.44, 1);
}

.show-group-code {
  padding-left: 30px;
}

.not-show-group-code {
  padding-left: 40px;
}

.table-content__subjects-groups .table-content__subject-code {
  font-size: 12px;
}
