<footer>
  <div>
    <div class="escudos">
      <img src="./assets/escudos/upm.png" alt="">
      <img src="./assets/escudos/etsam.jpg" alt="">
    </div>
  </div>
  <div class="direccion-geografica">
    <p translate>diga</p>
    <p>Escuela Técnica Superior de Arquitectura. Universidad Politécnica de Madrid.</p>
    <p>c/ Juan de Herrera nº4. Ciudad Universitaria 28040 - Madrid. 91 336 64 97 ideación. arquitectura@upm.es</p>
  </div>
  <div class="escudo-diga">
    <div class="copyright">
      <i class="material-icons">copyright</i>
      {{year}}
    </div>
  </div>
</footer>
