h1 {
  margin: 0;
  font-weight: 400;
}

header {
  height: var(--header-height);
  z-index: 100;
}

header a {
  text-decoration: none;
  color: inherit;
}

header.pc {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

header.mobile {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--primary);
  color: #fff;
  font-size: 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

header.pc h1.underline span {
  line-height: 1.3;
  background-image: linear-gradient(to right,
    var(--main-black) 0,
    var(--main-black) 100%);
  background-position: 0 38px;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

header.pc h1.underline span:hover {
  background-size: 100% 100%;
}

header.mobile h1,
header.mobile i {
  padding: 8px 25px;
  cursor: pointer;
}
