.table-header {
  margin-top: 20px;
  width: 100%;
  font-size: 15px;
  display: flex;
  border-bottom: 2px solid var(--primary);
}

.table-header__option {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 2px 2px 0 0;
}

.table-header__option:hover:not(.selected) {
  color: var(--primary);
  font-weight: 700;
}

.table-header__option.selected {
  background: var(--primary);
  color: var(--white);
}
