.table-header {
  margin-top: 20px;
  width: 100%;
  font-size: 15px;
  display: flex;
  border-bottom: 2px solid var(--primary);
}

.table-header__option {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 2px 2px 0 0;
}

.table-header__option:hover:not(.selected) {
  color: var(--primary);
  font-weight: 700;
}

.table-header__option.selected {
  background: var(--primary);
  color: var(--white);
}

.table-content {
  color: var(--main-black);
}

.table-content h6 {
  font-size: 12px;
  margin: 5px 20px;
  margin-top: 19px;
  text-transform: uppercase;
}

ul {
  padding: 0;
  padding-left: 20px;
  margin: 0;
  margin-bottom: 13px;
  list-style: none;
  cursor: default;
}

ul li {
  padding: 5px 0;
}

ul li a,
ul li span {
  font-size: 14px;
}

ul li {
  padding: 0 3px;
}

ul li p {
  border-left: 3px solid transparent;
  transition: 0.3s all var(--transition);
  padding: 5px 3px;
}

ul li p:hover {
  border-left: 3px solid var(--primary);
}

.links {
  margin-left: 6px;
}

a {
  text-decoration: none;
  color: inherit;
}


@media screen and (min-width: 992px) {
  ul li p {
    display: inline-block;
    line-height: 1.3;
    text-decoration: none;
    background-image: linear-gradient(to right,
      var(--main-black) 0,
      var(--main-black) 6%);
    background-position: 5px 21px;
    background-size: 0% 6%;
    background-repeat: no-repeat;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
  }
}

@media screen and (max-width: 992px) {
  .table-content h6 {
    margin-left: 5px;
  }

  ul {
    padding-left: 5px;
  }



  a:hover {
    text-decoration: underline;
  }
}
