<div class="swiper-container">
  <div class="swiper-wrapper">
    <img src="./assets/home/carousel/picture1.jpg" alt="" class="swiper-slide">
    <img src="./assets/home/carousel/picture2.jpg" alt="" class="swiper-slide">
    <img src="./assets/home/carousel/picture3.jpg" alt="" class="swiper-slide">
    <img src="./assets/home/carousel/picture4.jpg" alt="" class="swiper-slide">
    <img src="./assets/home/carousel/picture5.jpg" alt="" class="swiper-slide">
    <img src="./assets/home/carousel/picture6.jpg" alt="" class="swiper-slide">
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-controls">
    <i class="material-icons swiper-prev">keyboard_arrow_left</i>
    <i class="material-icons swiper-next">keyboard_arrow_right</i>
  </div>
</div>


<p class="description">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum aliquid, fuga vero eos officia, magnam tempore nisi
  minima
  expedita consequatur nobis nesciunt sit sequi odit obcaecati dolorum aliquam corporis laboriosam.
</p>


<div class="cards-home">
  <a href="#" class="card-home">
    <img src="./assets/home/cards/staff.jpg" alt="Image" class="img-fluid">
    <h3 class="card-home__title">Direccion</h3>
    <div class="card-home__overlay card-home__anim--in" [ngStyle]="{'animation-duration': fixDirectionReveal}">
      <div class="card-home-options">
        <div class="card-home__option">Dirección</div>
        <div class="card-home__option">Secretaría</div>
        <div class="card-home__option">Profesorado</div>
      </div>
    </div>
  </a>

  <a href="#" class="card-home">
    <img src="./assets/home/cards/teaching.png" alt="Image" class="img-fluid">
    <h3 class="card-home__title">Docencia</h3>
    <div class="card-home__overlay card-home__anim--in" [ngStyle]="{'animation-duration': fixDirectionReveal}">
      <div class="card-home-options">
        <div class="card-home__option">Grado</div>
        <div class="card-home__option">Posgrado</div>
        <div class="card-home__option">Memoria</div>
      </div>
    </div>
  </a>

  <a href="#" class="card-home">
    <img src="./assets/home/cards/research.png" alt="Image" class="img-fluid">
    <h3 class="card-home__title">Investigación</h3>
    <div class="card-home__overlay card-home__anim--in" [ngStyle]="{'animation-duration': fixDirectionReveal}">
      <div class="card-home-options">
        <div class="card-home__option">Grupos i+D+i</div>
        <div class="card-home__option">Grupos Innovación Docente</div>
      </div>
    </div>
  </a>

  <a href="#" class="card-home">
    <img src="./assets/home/cards/explore.jpg" alt="Image" class="img-fluid">
    <h3 class="card-home__title">Explorar</h3>
    <div class="card-home__overlay card-home__anim--in" [ngStyle]="{'animation-duration': fixDirectionReveal}">
      <div class="card-home-options">
        <div class="card-home__option">Noticas. Eventos</div>
      </div>
    </div>
  </a>
</div>
