.swiper-container {
  max-width: 500px;
  height: 254px;
  margin-bottom: 25px;
}

.swiper-slide {
  object-fit: cover;
}

.swiper-controls {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.swiper-controls i {
  font-size: 35px;
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.swiper-prev {
  padding-left: 15px;
  background: linear-gradient(to right, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0) 100%);
}

.swiper-next {
  padding-right: 15px;
  background: linear-gradient(to left, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0) 100%);
}

.description {
  max-width: 400px;
  text-align: justify;
  padding: 0 20px;
}

/* cards-home */
.cards-home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 200px));
  grid-gap: 20px;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 40px;
}

.cards-home .card-home {
  width: 200px;
  height: 200px;
}

.cards-home .card-home img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cards-home .card-home h3 {
  position: absolute;
  bottom: 0;
}

/*Direction reveal*/
.card-home {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.card-home__anim--in,
.card-home__anim--out {
  animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  animation-fill-mode: forwards;
}

.card-home__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .6);
  animation-name: reset;
}

@keyframes reset {
  100% {
    transform: translate(0, 100%);
  }
}

.card-home__title {
  position: absolute;
  width: 100%;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  background: rgba(33, 33, 33, .8);
  bottom: 0;
  z-index: 99;
  margin: 0;
}

.card-home__options {
  height: calc(100% - 39px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.card-home__options>a {
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
}

.card-home__options>a:hover {
  text-decoration: underline;
}
