<div class="swiper-container" *ngIf="swiperImages">
  <div class="swiper-wrapper">
    <div class="img-container swiper-slide" *ngFor="let img of swiperImages">
      <img src="./assets/home/carousel/{{img}}" alt="" class="">
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-controls">
    <i class="material-icons swiper-prev">keyboard_arrow_left</i>
    <i class="material-icons swiper-next">keyboard_arrow_right</i>
  </div>
</div>


<p class="description">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum aliquid, fuga vero eos officia, magnam tempore nisi
  minima
  expedita consequatur nobis nesciunt sit sequi odit obcaecati dolorum aliquam corporis laboriosam.
</p>


<div class="cards-home">
  <a href="#" class="card-home">
    <img src="./assets/home/cards/personal.jpg" alt="Image" class="img-fluid">
    <h3 class="card-home__title">Direccion</h3>
    <div class="card-home__overlay card-home__anim--in" [ngStyle]="{'animation-duration': fixDirectionReveal}">
      <div class="card-home__options">
        <a routerLink="/direccion-profesorado">
          <span>Dirección</span>
        </a>
        <a routerLink="/direccion-profesorado">
          <span>Secretaría</span>
        </a>
        <a routerLink="/direccion-profesorado">
          <span>Profesorado</span>
        </a>
      </div>
    </div>
  </a>

  <a href="#" class="card-home">
    <img src="./assets/home/cards/teaching.png" alt="Image" class="img-fluid">
    <h3 class="card-home__title">Docencia</h3>
    <div class="card-home__overlay card-home__anim--in" [ngStyle]="{'animation-duration': fixDirectionReveal}">
      <div class="card-home__options">
        <a routerLink="/grado">
          <span>Grado</span>
        </a>
        <a routerLink="/posgrado">
          <span>Posgrado</span>
        </a>
        <a routerLink="/memoria">
          <span>Memoria</span>
        </a>
      </div>
    </div>
  </a>

  <a href="#" class="card-home">
    <img src="./assets/home/cards/research.png" alt="Image" class="img-fluid">
    <h3 class="card-home__title">Investigación</h3>
    <div class="card-home__overlay card-home__anim--in" [ngStyle]="{'animation-duration': fixDirectionReveal}">
      <div class="card-home__options">
        <a routerLink="/grupo-i-d+i">
          <span>i+D+i</span>
        </a>
        <a routerLink="/innovacion-docente">
          <span>Innovación Docente</span>
        </a>
      </div>
    </div>
  </a>

  <a href="#" class="card-home">
    <img src="./assets/home/cards/explore.jpg" alt="Image" class="img-fluid">
    <h3 class="card-home__title">Explorar</h3>
    <div class="card-home__overlay card-home__anim--in" [ngStyle]="{'animation-duration': fixDirectionReveal}">
      <div class="card-home__options">
        <a routerLink="/explorar">
          <span>Noticas. Eventos</span>
        </a>
      </div>
    </div>
  </a>
</div>
