.loading-bar {
  animation: width .3s;
  height: 4px;
  background: var(--primary);
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--transitionDuration) all ease;
  border-radius: 4px 4px 0 0;
}

@keyframes width {
  from {
    width: 0;
  }

  to {
    width: 25%;
  }
}
