<section class="card">
  <h2 class="title">
    <span translate>explorar</span>
  </h2>
  <div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="img">
            <img src="./assets/explorar/img (2).jpg" alt="">
          </div>
          <div class="text">
            <h5>Exposición. LinaBoBardi.</h5>
            <p>Fundación, Juan March, Madrid. <br />
              Comisaria y diseño del montaje: Mara Sánchez Llorens.
              <br>
              <a href="https://www.march.es/arte/madrid/exposiciones/lina-bo-bardi/">Enlace</a></p>
          </div>
        </div>
      <div class="swiper-slide">
        <div class="img">
          <img src="./assets/explorar/img (3).jpg" alt="">
        </div>
        <div class="text">
          <h5>Exposición. Beatos, Mecachis y Percebes.</h5>
          <p>Biblioteca Nacional, Madrid.<br />
            Comisario: Enrique Bordes.
            <br>
            <a href="http://www.bne.es/es/Actividades/Exposiciones/Exposiciones/Exposiciones2018/beatos_mecachis_y_percebes.html">Enlace</a></p>
        </div>
      </div>
    </div>
    <div class="swiper-button-next">
      <i class="material-icons">keyboard_arrow_right</i>
    </div>
    <div class="swiper-button-prev">
      <i class="material-icons">keyboard_arrow_left</i>
    </div>
  </div>

</section>
