<section class="card">
  <h2 class="title">
    <span translate>explorar</span>
  </h2>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let item of items">
        <div class="img">
          <img src="https://drive.google.com/uc?id={{item.img}}" alt="">
        </div>
        <div class="text">
          <h5>{{item.title}}</h5>
          <p>
            {{item.decription}}
            <br>
            <a href="{{item.url}}">Enlace</a></p>
        </div>
      </div>
    </div>
    <div class="swiper-button-next">
      <i class="material-icons">keyboard_arrow_right</i>
    </div>
    <div class="swiper-button-prev">
      <i class="material-icons">keyboard_arrow_left</i>
    </div>
  </div>

</section>
