.swiper-container {
  width: 100%;
  margin-top: 20px;
}

.swiper-wrapper {
  max-width: calc(100vh - 200px);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f6f7;
  color: var(--main-black);
  max-width: 320px;
}

.swiper-button-next,
.swiper-button-prev {
  top: 0;
  margin-top: 0;
  padding: 0 20px;
  color: var(--primary);
  display: flex;
  align-items: center;
  height: 100%;
  background: transparent;
}

.swiper-button-next i,
.swiper-button-prev i {
  background: #eaebed;
  font-size: 50px;
  border-radius: 50%;
  box-shadow: 0px 2px 39px -10px rgba(0, 0, 0, 0.4);
}

.swiper-button-next {
  right: 20px;
}

.swiper-button-prev {
  left: 20px;
}

@media screen and (max-width: 992px) {
  .swiper-slide {
    max-width: 250px;
  }

  .swiper-button-next i,
  .swiper-button-prev i {
    display: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background: none;
  }
}

.img {
  max-height: 200px;
  min-height: 100%;
  display: flex;
  align-items: center;
}

.swiper-slide img {
  object-fit: cover;
  width: 100%;
  max-height: 198px;
}

.text {
  margin-left: 10px;
  text-align: left;
  width: calc(100% - 30px);
}

.text h5 {
  margin: 10px 0 3px 0;
}

.text p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 13px;
}

.text p a {
  color: inherit;
}
