html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  z-index: 0;
}

:root {
  --header-height: 50px;
  --footer-height: 110px;
  --primary: #b71c1c;
  --primary-darker: #931616;
  --main-black: #212121;
}

app-root {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  grid-template-areas: "m h" "m c" "f f";
  width: 100%;
}

main {
  padding: 25px
}

@media screen and (max-width:992px) {
  :root {
    --header-height: 40px;
  }
  app-root {
    display: inherit;
  }
  main {
    margin-top: calc(var(--header-height) + 25px);
  }
}

/*Titulos*/

section.title {
  overflow: hidden;
}

section.title h2 {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: .25em;
  display: inline-block;
  position: relative;
  line-height: 1;
  margin-bottom: 0;
  padding-right: 6px;
}

section.title h2::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 100%;
  width: 100vw;
  height: 1px;
  background: #121212;
}
