html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  z-index: 0;
  position: relative;
}

:root {
  --header-height: 50px;
  --footer-height: 110px;
  --primary: #b71c1c;
  --primary-darker: #931616;
  --main-black: #212121;
  --error: #cc0000;
  --transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

app-root {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  grid-template-areas:
    "m h"
    "m c"
    "f f";
  width: 100%;
}

app-menu {
  z-index: 100;
}

main {
  padding: 25px
}

@media screen and (max-width:992px) {
  :root {
    --header-height: 40px;
  }

  app-root {
    display: inherit;
  }
}

/*Titulos*/
h2.title {
  overflow: hidden;
  margin: 0;
}

h2.title span {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: .25em;
  display: inline-block;
  position: relative;
  line-height: 1;
  margin-bottom: 0;
  padding-right: 6px;
}

h2.title span::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 100%;
  width: 100vw;
  height: 1px;
  background: #121212;
}

@media screen and (max-width:992px) {
  h2.title {
    margin-top: 40px;
  }
}

.loadingText {
  height: 10px;
  background: #c0c0c0;
  margin: 5px 0;
}

.loadingText:nth-child(odd) {
  width: 40%;
}

.loadingText:nth-child(even) {
  width: 65%;
}
