<section class="card">
  <h2 class="title">
    <span translate>explore</span>
  </h2>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="img">
          <img src="./assets/explorar/img (1).jpg" alt="">
        </div>
        <div class="text">
          <h5>Noticia 1, texto de ejemplo</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam pariatur...</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="img">
          <img src="./assets/explorar/img (2).jpg" alt="">
        </div>
        <div class="text">
          <h5>Noticia 2, texto de ejemplo</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam pariatur...</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="img">
          <img src="./assets/explorar/img (3).jpg" alt="">
        </div>
        <div class="text">
          <h5>Noticia 3, texto de ejemplo</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam pariatur...</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="img">
          <img src="./assets/explorar/img (4).jpg" alt="">
        </div>
        <div class="text">
          <h5>Noticia 4, texto de ejemplo</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam pariatur...</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="img">
          <img src="./assets/explorar/img (5).jpg" alt="">
        </div>
        <div class="text">
          <h5>Noticia 5, texto de ejemplo</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam pariatur...</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="img">
          <img src="./assets/explorar/img (6).jpg" alt="">
        </div>
        <div class="text">
          <h5>Noticia 6, texto de ejemplo</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam pariatur...</p>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next">
      <i class="material-icons">keyboard_arrow_right</i>
    </div>
    <div class="swiper-button-prev">
      <i class="material-icons">keyboard_arrow_left</i>
    </div>
  </div>

</section>
