<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="./assets/explorar/img (1).jpg" alt="">
    </div>
    <div class="swiper-slide">
      <img src="./assets/explorar/img (2).jpg" alt="">

    </div>
    <div class="swiper-slide">
      <img src="./assets/explorar/img (3).jpg" alt="">

    </div>
    <div class="swiper-slide">
      <img src="./assets/explorar/img (4).jpg" alt="">

    </div>
    <div class="swiper-slide">
      <img src="./assets/explorar/img (5).jpg" alt="">

    </div>
    <div class="swiper-slide">
      <img src="./assets/explorar/img (6).jpg" alt="">

    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
