<aside>
  <div class="menu-header">
    <div class="menu-header__logo" *ngIf="getWidthStatus() === 'large'"></div>
    <div class="menu-header__links">
      <a href="http://">
        <span>
          ETSAM
        </span>
      </a>
      <a href="http://">
        <span>
          UPM
        </span>
      </a>
    </div>
  </div>
  <nav>
    <ul class="pages">
      <li>
        <span class="option" (click)="toggleSubmenu('personal')">Direccion</span>
        <ul class="submenu" [ngClass]="{'show':submenuOptions.includes('personal')}" id="personal">
          <a routerLink="/direccion-profesorado">
            <li>Direccion</li>
          </a>
          <a routerLink="/direccion-profesorado">
            <li>Secretaria</li>
          </a>
          <a routerLink="/direccion-profesorado">
            <li>Profesorado</li>
          </a>
        </ul>
      </li>
      <li>
        <span class="option" (click)="toggleSubmenu('teaching')">Docencia</span>
        <ul class="submenu" [ngClass]="{'show':submenuOptions.includes('teaching')}" id="teaching">
          <a routerLink="/grado">
            <li>Grado</li>
          </a>
          <a routerLink="/posgrado">
            <li>Posgrado</li>
          </a>
          <a routerLink="/memoria">
            <li>Memoria</li>
          </a>
        </ul>
      </li>
      <li>
        <span class="option" (click)="toggleSubmenu('research')">Investigación</span>
        <ul class="submenu" [ngClass]="{'show':submenuOptions.includes('research')}" id="research">
          <a routerLink="/grupo-i-d+i">
            <li>I+D+i</li>
          </a>
          <a routerLink="/innovacion-docente">
            <li>Innovación Docente</li>
          </a>
        </ul>
      </li>
      <li>
        <span class="option" (click)="toggleSubmenu('explore')" translate>explore</span>
        <ul class="submenu" [ngClass]="{'show':submenuOptions.includes('explore')}" id="explore">
          <a routerLink="/explorar">
            <li>Noticias. Eventos</li>
          </a>
        </ul>
      </li>
      <li>
        <span class="option" (click)="switchLanguage()" translate>language</span>
      </li>
    </ul>
  </nav>
</aside>
<div class="overlay-close" (click)="closeMenu()" *ngIf="getWidthStatus() !== 'large' && isOpen()"></div>
