aside {
  padding: 20px 25px;
  background: var(--primary);
  color: #fff;
  height: 100%;
  z-index: 100;
  overflow: auto;
  position: fixed;
  width: 150px;
  box-shadow: -2px 0px 32px 0px rgba(0, 0, 0, 0.45);
}

/*Mobile*/
@media screen and (max-width:992px) {
  aside {
    max-width: inherit;
    width: 80vw;
    box-shadow: none;
  }
}

.menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-header__logo {
  width: 75px;
  height: 75px;
  background: #fff;
}

.menu-header__links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-header__links a {
  text-decoration: none;
}

.menu-header__links a span {
  color: #fff;
  line-height: 1.4;
  background-image: linear-gradient(to right,
    var(--main-black) 0,
    var(--main-black) 100%);
  background-position: 0 17.5px;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-header__links a span:hover {
  background-size: 100% 100%;

}

ul {
  list-style: none;
  padding: 0;
  font-size: 18px;
  transition: .3s all var(--transition);
}

.submenu {
  margin-bottom: 10px;
  height: 0;
  visibility: hidden;
  margin-top: -10px;
  opacity: 0;
}

.show {
  height: inherit;
  visibility: visible;
  margin-top: 0;
  opacity: 1;
}

.submenu a li {
  padding: 3px;
  padding-left: 10px;
  font-size: 14px;
}

.submenu a {
  text-decoration: none;
  color: #fff;
}

.submenu li:hover,
span.option:hover {
  width: 100%;
  cursor: pointer;
  text-decoration: underline;
}

li .submenu li:hover {
  background: var(--primary-darker);
}

.overlay-close {
  position: fixed;
  left: 0;
  top: calc(var(--header-height));
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: .4;
  z-index: -1;
  cursor: pointer;
}
