<aside>
  <div class="menu-header">
    <div class="menu-header__logo" *ngIf="getWidthStatus() === 'large'"></div>
    <div class="menu-header__links">
      <a href="http://etsamadrid.aq.upm.es/">
        <span>
          ETSAM
        </span>
      </a>
      <a href="http://">
        <span>
          UPM
        </span>
      </a>
    </div>
  </div>
  <nav>
    <ul class="pages">
      <li>
        <span class="option" (click)="toggleSubmenu('personal')" translate>direccion</span>
        <ul class="submenu" [ngClass]="{'show':submenuOptions.includes('personal')}" id="personal">
          <a routerLink="/direccion-profesorado/direccion">
            <li translate>direccion</li>
          </a>
          <a routerLink="/direccion-profesorado/secretaria">
            <li translate>secretaria</li>
          </a>
          <a routerLink="/direccion-profesorado/profesorado">
            <li translate>profesorado</li>
          </a>
        </ul>
      </li>
      <li>
        <span class="option" (click)="toggleSubmenu('teaching')" translate>docencia.titulo</span>
        <ul class="submenu" [ngClass]="{'show':submenuOptions.includes('teaching')}" id="teaching">
          <a routerLink="/grado">
            <li translate>docencia.grado</li>
          </a>
          <a routerLink="/posgrado">
            <li translate>docencia.posgrado</li>
          </a>
          <a routerLink="/memoria">
            <li translate>docencia.report</li>
          </a>
        </ul>
      </li>
      <li>
        <span class="option" (click)="toggleSubmenu('research')" translate>investigacion</span>
        <ul class="submenu" [ngClass]="{'show':submenuOptions.includes('research')}" id="research">
          <a routerLink="/grupo-i-d+i">
            <li translate>IDi</li>
          </a>
          <a routerLink="/innovacion-docente">
            <li translate>innovacion_docente</li>
          </a>
        </ul>
      </li>
      <li>
        <span class="option" (click)="toggleSubmenu('explore')" translate>explorar</span>
        <ul class="submenu" [ngClass]="{'show':submenuOptions.includes('explore')}" id="explore">
          <a routerLink="/explorar">
            <li translate>noticias_eventos</li>
          </a>
        </ul>
      </li>
      <li style="margin-top: 20px;font-size: 15px;">
        <span class="option" (click)="switchLanguage()" translate>language</span>
      </li>
    </ul>
  </nav>
</aside>
<div class="overlay-close" (click)="closeMenu()" *ngIf="getWidthStatus() !== 'large' && isOpen()"></div>
