.title {
  margin-top: 20px;
}

.subtitle {
  margin: 5px 0;
  font-size: 14px;
  color: #444;
}

.subject,
.group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.subject>div,
.groups__list,
.group>div {
  margin: 20px;
  font-size: 15px;
}



.subject h4,
.group h4 {
  margin: 0;
  text-transform: capitalize;
}

.subject p {
  margin: 5px 10px;
}

.subject ul,
.group ul {
  list-style-type: square;
  padding: 0;
  margin: 5px 23px;
}

.subject div ul li,
.group div ul li {
  padding: 5px 0;
}

.groups__list {
  display: flex;
  flex-wrap: wrap;
}

.groups__list:hover {
  cursor: pointer;
}


.groups__list>div {
  border: 1px solid var(--main-black);
  border-radius: 3px;
  padding: 5px 10px;
  white-space: nowrap;
  margin: 5px;
  font-size: 13px;
}

.groups__list>div.active {
  background: var(--primary);
  color: var(--white);
  border-color: var(--primary);
}

.groups__list>div:hover:not(.active) {
  background: #e5e6e8;
}

.horizontal-divisor {
  width: calc(100% - 50px);
  margin: 0 auto;
  background: var(--main-black);
  opacity: .2;
  height: 1px;
}

.group div ul li a {
  color: inherit;
}
