.title {
  margin-top: 20px;
}

.subtitle {
  margin: 5px 0;
  font-size: 14px;
  color: #444;
}

.subject,
.group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.subject>div,
.groups__list {
  margin: 20px;
  font-size: 15px;
}

.subject h4,
.group h4 {
  margin: 0;
  text-transform: capitalize;
}

.subject p {
  margin: 5px 10px;
}

.subject ul,
.group ul {
  list-style-type: square;
  padding: 0;
  margin: 5px 23px;
}

.subject div ul li,
.group div ul li {
  padding: 5px 0;
}


.swiper-container {
  width: 100%;
  height: 100%;
}

.groups__list:hover {
  cursor: pointer;
}

.swiper-wrapper {
  display: flex;
  list-style: none;
  padding: 0;
}

.swiper-wrapper>div {
  border: 1px solid var(--main-black);
  border-radius: 3px;
  padding: 5px 10px;
  white-space: nowrap;
}

.swiper-wrapper>div.active {
  background: var(--primary);
  color: var(--white);
  border-color: var(--primary);
}

.swiper-wrapper>div:hover:not(.active) {
  background: #e5e6e8;
}

.horizontal-divisor {
  width: calc(100% - 50px);
  margin: 0 auto;
  background: var(--main-black);
  opacity: .2;
  height: 1px;
}
