<section class="card" id="subjectInfo">

  <div *ngIf="subject">
    <h2 class="title" translate>
      teaching.{{subject.subject.name}}
    </h2>
    <h5 class="subtitle">
      Asignaturas&nbsp;
      <span translate>
        teaching.{{subject.type}}
      </span>
      -
      <span>
        {{subject.subject.course}}º curso
      </span>
      -
      <span>
        {{subject.subject.code}}
      </span>

    </h5>
    <div class="subject">
      <div class="" *ngIf="subject.subject.coordinator !== ''">
        <h4>Coordindador:</h4>
        <p>
          {{subject.subject.coordinator}}
        </p>
      </div>
      <div *ngIf="subject.subject.description !== ''">
        <h4>Descripción:</h4>
        <p>
          {{subject.subject.description}}
        </p>
      </div>
    </div>

    <div class="horizontal-divisor"></div>

    <div class="swiper-wrapper">
    </div>
    <div class="groups__list">
      <div *ngFor="let group of subject.subject.groups" [ngClass]="{'active':subject.group.name === group.name && subject.group.code === group.code}">
        <span (click)="goTo('grupo_' + group.name)" *ngIf="['básica', 'intensificacion'].includes(subject.type)">
          <span translate>teaching.group</span> {{group.name | uppercase}}
        </span>
        <span (click)="goTo(group.name, group.code)" *ngIf="!['básica', 'intensificacion'].includes(subject.type)">{{group.code}}.
          <span translate>teaching.{{group.name}}</span></span>
      </div>
    </div>
    <app-loading *ngIf="loading"></app-loading>

    <div class="group" [ngStyle]="{'opacity': loading ? 0 : 1}">
      <div *ngFor="let object of subject.groupMeta">
        <div>
          <h4>{{object.title}}:</h4>
          <ul>
            <li *ngFor="let item of object.values">
              <a *ngIf="isLink(item)" href="{{addHtpp(item)}}">{{item}}</a>
              <span *ngIf="!isLink(item)">{{item}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</section>
