<section class="card" id="subjectInfo">
  <app-loading-bar [width]="widthLoadingBar"></app-loading-bar>

  <div *ngIf="subject">
    <h2 class="title" translate>
      grade.subjects.{{subject.subject.name}}
    </h2>
    <h5 class="subtitle">
      Asignaturas&nbsp;
      <span translate>
        grade.{{subject.type}}
      </span>
      -
      <span>
        {{subject.subject.course}}º curso
      </span>
      -
      <span>
        {{subject.subject.code}}
      </span>

    </h5>
    <div class="subject">
      <div class="" *ngIf="subject.subject.coordinator !== ''">
        <h4>Coordindador:</h4>
        <p>
          {{subject.subject.coordinator}}
        </p>
      </div>
      <div *ngIf="subject.subject.description !== ''">
        <h4>Descripción:</h4>
        <p>
          {{subject.subject.description}}
        </p>
      </div>
    </div>

    <div class="horizontal-divisor"></div>

    <div class="groups__list">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let group of subject.subject.groups" [ngClass]="{'active':subject.group.name === group.name && subject.group.code === group.code}"
          (click)="goTo(group.name)">
          <span *ngIf="['troncal', 'intensificacion'].includes(subject.type)">
            <span translate>grade.group</span> {{group.name | uppercase}}
          </span>
          <span *ngIf="!['troncal', 'intensificacion'].includes(subject.type)">{{group.code}}. <span translate>grade.subjects.{{group.name}}</span></span>
        </div>
      </div>
    </div>



    <div class="group">
      <div *ngFor="let object of subject.groupMeta">
        <div>
          <h4>{{object.title}}:</h4>
          <ul>
            <li *ngFor="let item of object.values">
              <a *ngIf="isLink(item)" href="{{addHtpp(item)}}">{{item}}</a>
              <span *ngIf="!isLink(item)">{{item}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</section>
